@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600|Philosopher');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes fade {
    from {
        background-color: #199CFF;
    }
    to {
        background-color: #62737F;
    }
}

html {
    font-size: 16px;
    line-height: 1.6;
    font-family: font-family: 'Philosopher', Helvetica, Arial, sans-serif;
}

body {

    background-color: #62737F;
    width: 100%;
    position:absolute;
}

h1 {
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
    color: #0C4E7F;
    text-align: center;
}

h2 {
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
    color: #0C4E7F;
    text-align: center;
}

li,
p,
a {
    font-family: 'Philosopher', Helvetica, Arial, sans-serif;
    color: #0C4E7F;
}

pre,
code,
kbd {
    font-family: 'Philosopher', Helvetica, Arial, sans-serif;
    color: #0C4E7F;
}

.wrapper {
    background-color: #65BDFF;

}

header {
    background-color: #65BDFF;
    width: 100%;
    background-image: url(http://lorempixel.com/1920/1080/food/bacon);
    background-position: center;
}

/*small*/
@media screen and (max-width: 599px) {
    .wrapper {
        width: 95%;
        margin: 0 auto;
        padding: 0 50px 0 50px;
    }
    header {
        height: 175px;
    }
    nav {
        text-align: center;
        width: 100%;
    }
    nav>ul {
        width: 100%;
    }
    nav li {
        width: 100%;
        list-style: none;
        border: 2px solid #0C4E7F;
        background-color: #199CFF;
        margin-top: 5px;

    }
    nav a,
    nav a:link,
    nav a:visited {
        display: block;
        font: bold 1.618rem 'Philosopher', Helvetica, Arial, sans-serif;
        text-align: center;
        text-decoration: none;
    }
    nav a:active,
    nav a:focus,
    nav a:hover {
        animation-name: fade;
        animation-duration: .7s;
        animation-fill-mode: forwards;
        color: white;
    }
    main {
        width: 100%;
    }
    .col {
        float: none;
        width: 100%;
        padding-bottom: 20px;
    }
    .col img {
        width: 100%;
        height: auto;
        max-width: 100%;
        background-color: azure;
    }
    footer {
        margin-top: 10px;
        width: 100%;
        background-color: #199CFF;
        text-align: center;
    }
    footer li {
        width: 100%;
        list-style: none;
        background-color: #199CFF;

    }
    footer a:link {
        text-decoration: none;
    }
}
/*end small*/

/*medium*/
@media screen and (min-width:600px) and (max-width: 799px) {
    .wrapper {
        width: 100%;
        position: absolute;
    }

    header {
        height: 100px;
    }
    nav {
        width: 90%;
        margin: 0 auto;
    }
    h1{
        font-size: 3rem;
    }
    h2{
/*        vertical-align: middle;*/
        text-align: center;
        font-size: 1.8rem;
    }
    nav li {
        width: 20%;
        float: left;
        text-align: center;
        list-style: none;
        border: 2px solid #0C4E7F;
        background-color: #199CFF;
    }
    nav a,
    nav a:link,
    nav a:visited {
        display: block;
        font: bold 1.618rem 'Philosopher', Helvetica, Arial, sans-serif;
        text-align: center;
        text-decoration: none;
    }
    nav a:active,
    nav a:focus,
    nav a:hover {
        animation-name: fade;
        animation-duration: .7s;
        animation-fill-mode: forwards;
        color: white;
    }
    main {
        width: 90%;
        margin: 0 auto;

    }
    .col {
        width: 50%;
        float: left;
        padding: 10px;
        padding-bottom: 50px;
        height: 100%;
    }
    .col p img {
        width: 60%;
        display: inline;
        padding: 0 10px 0 0;
    }

    footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 50px;
        background-color: white;;
    }
    footer p{
        text-align: center;
    }
    footer li{
        width: 33.33%;
        list-style: none;
        float: left;
        text-align: center;
    }
    footer a:link{
        text-decoration: none;
    }
}
/*end medium*/

/*large*/
@media screen and (min-width: 800px) and (max-width: 1199px) {
    .wrapper {
        position:absolute;
    }
    header {
        height: 200px;
    }
    h1{
        padding-top: 2rem;
        font-size: 4rem;
    }
    h2{
        font-size: 2rem;
    }
    nav {
        width: 90%;
        margin: 0 auto;
    }
    nav li {
        width: 20%;
        float: left;
        text-align: center;
        list-style: none;
        border: 2px solid #0C4E7F;
        background-color: #199CFF;
    }
    nav a,
    nav a:link,
    nav a:visited {
        display: block;
        font: bold 1.618rem 'Philosopher', Helvetica, Arial, sans-serif;
        text-align: center;
        text-decoration: none;
    }
    nav a:active,
    nav a:focus,
    nav a:hover {
        animation-name: fade;
        animation-duration: .7s;
        animation-fill-mode: forwards;
        color: white;
    }

    main {
        width: 90%;
        margin: 0 auto;

    }
    .col {
        width: 50%;
        float: left;
        padding: 0 10px 50px 10px;

    }
    .col img {
        width: 50%;
        padding-right: 10px;
        display: inline-block;
    }
        footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 50px;
        background-color: white;
    }
    footer p{
        text-align: center;
    }
    footer li{
        width: 33.33%;
        list-style: none;
        float: left;
        text-align: center;
    }
    footer a:link{
        text-decoration: none;
    }
}
/*end large*/

/*x-large*/
@media screen and (min-width: 1200px) {
    .wrapper {
        position:absolute;
    }
    header {
        height: 300px;
    }
    h1{
        font-size: 6rem;
    }
    h2{
        font-size: 3rem;
    }
    nav {
        width: 30%;
        float: left;
        margin: 0 auto;
        font-size: 2rem;
        margin-top: 10px
    }
    nav li {
        text-align: center;
        width: 100%;
        list-style: none;
        border: 2px solid #0C4E7F;
        background-color: #199CFF;
        margin-bottom: 8px;
    }
    nav li:hover{
        animation-name: fade;
        animation-duration: .7s;
        animation-fill-mode: forwards;
        color: white;
    }
    nav a,
    nav a:link,
    nav a:visited {
        font: bold 1.618rem 'Philosopher', Helvetica, Arial, sans-serif;
        text-align: center;
        text-decoration: none;
    }
    nav a:active,
    nav a:focus,
    nav a:hover {
        animation-name: fade;
        animation-duration: .7s;
        animation-fill-mode: forwards;
        color: white;
    }

    main {
        margin-left: 10%;
        width: 70%;
        float: left;
        margin: 0 auto;

    }
    main .col {
        width: 50%;
        float: left;
        padding: 0 10px 50px 10px;

    }
    .col img {
        width: 55%;
    }
        footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        min-height: 50px;
        background-color: white;
    }
    footer p{
        text-align: center;
    }
    footer li{
        width: 33.33%;
        list-style: none;
        float: left;
        text-align: center;
    }
    footer a:link{
        text-decoration: none;
    }
}
/*x-large*/
