/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem

Colour scheme

**************************************************/
@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes fade {
    from {
        background-color: #199CFF;
    }
    to {
        background-color: #62737F;
    }
}

html{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Droid Sans', 'more font stack stuff', sans-serif;
}

body{
    background-color: #62737F;
}
/***************************
DEFAULTS - MOBILE FIRST
***************************/
h1{
    font: bold 4.236rem 'Droid Serif', 'more font stack stuff', serif;
    color: #0C4E7F;
}
h2{
    font: bold 2.618rem 'Droid Serif', 'more font stack stuff', serif;
    color: #0C4E7F;
}
li, p, a{
    font: bold 1.618rem 'Droid Sans', 'more font stack stuff', sans-serif;
    color: #0C4E7F;
}
pre, code, kbd{
    font: normal 1.0rem 'Droid Sans Mono', 'more font stack stuff',
    color: #0C4E7F;
}
/***************************
    LAYOUT - MOBILE FIRST
***************************/
.wrapper{
    width: 95%;
    margin: 0 auto;
    background-color: #65BDFF;
}
header{
    width: 100%;
    background-color: #65BDFF;
}


nav{
    text-align: center;
    width: 100%;
}
nav>ul{
    width: 100%;
}
nav li{
    width: 100%;
    list-style: none;
    border: 2px solid #0C4E7F;
    text-decoration: none;
    background-color: #199CFF;
}
nav a,
nav a:link,
nav a:visited{
    display: block;
    font: bold 1.618rem 'Droid Sans', 'more font stack stuff', sans-serif;
    text-align: center;
}
nav a:active,
nav a:focus,
nav a:hover{
    animation-name: fade;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    color: white;
}

main{
    width: 100%;
}
.col{
    float: none;
    width: 100%;
}
.col img{
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: azure;
}
footer{
    width: 100%;
}

@media screen and (min-width:600px){

}
@media screen and (min-width: 800px){

}
@media screen and (min-width: 1200px){

}
